$color-light: white;
$color-highlight: #80e5e3;
$color-primary: #187cf5;
$color-secondary: #2e2e60;
$border-radius: 6px;

* {
  transition: all 0.3s ease;
}

.app {
  font-family: 'Roboto', sans-serif;
}

.app-logo {
  height: 3rem;
}

.app-header {
  align-items: center;
  background-color: $color-light;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  border: 0;
  border-bottom: 1px dashed $color-primary;
  min-width: 400px;
  width: 50%;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  letter-spacing: 0.03em;
  padding: 0.5em;
  text-align: center;

  span {
    color: $color-highlight;
  }

  strong {
    color: $color-primary;
  }

  button {
    background-color: $color-primary;
    border: none;
    border-radius: $border-radius;
    color: $color-light;
    cursor: pointer;
    margin-left: 1em;

    &:hover {
      box-shadow: 0 0 8px $color-highlight;
      opacity: 0.8;
    }
  }
}

select {
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 70px $color-highlight;
  color: $color-primary;
  font-weight: bold;
  outline: none;
  padding: 0.5em;

  option {
    color: $color-primary;
  }

  &:hover {
    box-shadow: 0 0 20px 5px $color-highlight;
    padding: 0.5em;
  }
}
